@import "../../sass/general";
.btn1{
    color: white !important;
}

.cartContainer { 
    
    h2{
        text-align: center;
        margin: 2rem;
        color: $colorSecundario;
    }
    
    .cart-Info {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .terminarCompraContainer{
        margin-top: 15px;
        
        display: flex;
        justify-content: center;
    }
}

.cartEmptyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        text-align: center;
        margin: 2rem;
        color: $colorSecundario;
    }
}

