@import "./variables";
a{
   text-decoration: none !important;
}
    

.btn1{
    width:fit-content;
    text-decoration: none !important;
    text-align: center;
    background-color: $colorSecundario;
    border-color: $colorSecundario;
    border-radius: 1rem;
    color: white;
    border-style:solid;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer !important;
}

.resaltar{
    font-weight: bold;
    text-decoration: none;
    color:$colorSecundario
}

.contenedor{
    display: flex;
    justify-content: center;
    .contenedorImagenTexto{
        display: flex;
        flex-direction: row;
        width: 75%;
        justify-content: space-between;
        .contenedorImagen{
            width: 45%;
            img{
                width: 100%;
            }
        }
        .contenedorParrafo{
            .tituloSecundario{
                color: $colorSecundario;
                text-align: center;
            }
            width: 45%;
            text-align: justify;
        }
    
    }
}