@import "./variables";
.btn1{
    width:fit-content;
    text-decoration: none;
    text-align: center;
    background-color: $colorSecundario;
    border-color: $colorSecundario;
    border-radius: 1rem;
    color: white;
    border-style:solid;
    padding: 0.5rem;
    margin: 0.5rem;
}

.resaltar{
    font-weight: bold;
    text-decoration: none;
    color:$colorSecundario
}