@import "../../sass/variables";

.detail-container{
    display: flex;
    margin: 2rem;
    
    
    .detailImage-container{
        width: 80% ;
        img{
            width: 100%;
            border-radius: 10px;
        }
    }
    .detaiDescription-container{
        margin: 0 2rem;
        padding: 0 2rem;
        width: 40%;
        display: flex;
        flex-direction: column;
        
        color: $colorSecundario;

        h2{
            font-size:40px;
            margin-bottom: 2rem;
        }
        h3{
            font-size: 25px;
            margin-bottom: 2rem;
        }
        p{
            margin-bottom: 2rem;
        }
        .resaltar{
            font-weight: bold;
        }
        .itemDescription{
            margin: 2rem 0;
        }

        
    }

}
