@import "../../sass/general";

.cartWidget-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    p{  
        color: $colorSecundario;
        right: 10px;
        text-align: center;
        position: absolute;
        top: 43%;
        left: 42%;
        transform: translate(-50%, -50%);
        
    }
}

.widget-visible{
    visibility: visible;
    opacity: 1;
}