@import "../../sass/general";
.cardP{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 1.5rem;
    &:hover {
        transform: scale(1.1);
        transition-duration: 1.5s;
    }

    img {
        width: 15rem;
        border-radius: 10px;
    }

    .btn1{
        border-style: solid;
    }
}