@import "../../sass/general";
.cardP{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 1.5rem;
    img {
        width: 15rem;
        border-radius: 10px;
    }

    .btn-verMas{
        color: white;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
}