@import "../../sass/general";

.cartItemContainer{
    color: $colorSecundario;
    margin: 2rem 5rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cartImage{
        width: 100px;
    }
    .unStyle{
        all: unset;
    }
    .papelera{
        cursor: pointer;
    }
}
